# Directorios y archivos generados por Unity que no deben subirse
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/s/

# Archivos de memoria de autocompletado
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini